@import "_var";

.header {
	max-width: 100%;
	height: 70px;

	background-color: $color1;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	height: 70px;
	width: 45%;

	font-size: 1px;

	display: flex;
	flex-wrap: wrap;
}

.header__item {
	height: 70px;
	padding: 0 15px;

	font-family: $fontf;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 70px;

	transition: background-color 0.2s ease;
}
.header__item:hover {
	background-color: #5199ff;
}

.header__logo {
	margin-right: 30%;
}

.header__logo:hover {
	cursor: default;
}

.header__h2 {
	font-family: $fontf;
	color: $color2;
	font-size: 35px;
	font-weight: normal;

	transition: color 0.5s;
}

.header__h2:hover {
	color: #fff;
}

.header__button {
	height: 70px;
	padding: 0 20px;

	font-family: $fontf;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 70px;

	display: block;

	transition: background-color 0.2s ease;
}

.header__button:hover {
	background-color: $color2;
}

.header__register {
	display: flex;
}
