.advantages {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.advantages > h2 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	font-size: 40px;
	font-weight: 700;
	color: $color2;
}

.advantages > div > div > span {
	font-weight: 700;
	font-size: 20px;
}

.advantages > div > div > p {
	font-weight: 300;
	font-size: 20px;
	width: 500px;
	margin-top: 25px;
	line-height: 30px;
}

.advantages > div {
	display: flex;
	flex-wrap: nowrap;
	margin: 0 auto;
	margin-top: 60px;
}

.advantages > div > img {
	width: 65px;
	height: 65px;
	margin-right: 65px;
}
