.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 100px;
}

.contact > span {
	margin-bottom: 40px;
	font-size: 20px;
}

.contact > h2 {
	margin-top: 10px;
	font-size: 40px;
	font-weight: 700;
	color: $color2;
	text-align: center;
}

.contact > p {
	margin-top: 60px;
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 17px;
}

.social {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 200px;
}

.contact > div > img {
	width: 60px;
	height: 60px;
	margin-bottom: 70px;
	cursor: pointer;
}
